/* reset valores por defecto */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* Inicio del codigo */

/* Parametros globales---------------------------------------- */

.globalWidth {
    width: 100%;
}

.globalBackgroundColor {
    background-color: #834dfb;
}

.globalFont {
    font-family: 'Mulish', sans-serif;
    color: white;
    font-weight: bold;
}

/* Body------------------------------------------------------ */


/* header---------------------------------------------------- */

/* Barra de navegacion */
.header .header__menu {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}


/* logotipo */
.header .header__menu .header__menu--logo {
    height: 100px;
}

/* menu perfil */

.perfil__avatar {
    display: flex;
}

.perfil__avatar p {
    margin: auto 5px;
}

.menu__perfil .perfil__avatar--imagen {
    width: 80px;
}

.menu__perfil ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: right;
}

.menu__perfil:hover ul {
    display: block;
}

.menu__perfil ul li {
    margin: 10px 0px;
}

.menu__perfil ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.menu__perfil ul li a:hover {
    text-decoration: underline;
}

/* main------------------------------------------------------ */
.principal {
    font-size: 30px;
    text-align: center;
    margin: 40px 0px;
}

.principal input {
    border-radius: 20px;
    width: 80%;
    height: 40px;
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    color: white;
    font-size: 20px;

}

::placeholder {
    color: white;
    font-size: 20px;
}

/* footer---------------------------------------------------- */

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}