/* reset valores por defecto */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* Inicio del codigo */

/* header */
header {
    background-color: #21C08B;
}

header nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header nav img {
    height: 100px;
}

header nav ul {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

/* main */

/* footer */

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
}

footer ul {
    display: flex;
    background-color: #21C08B;
    justify-content: space-between;
    list-style: none;
}